{% extends 'base.html.twig' %}
{% block title %}Ajout d'un contributeur{%  endblock %}
{% block body %}
    <div class="corps">
        <ol class="breadcrumb">
            <li class="active">
                <blockquote>Création d'un compte sur le Service Central d'Authentification du CCSD. Le compte est valable sur HAL, Sciencesconf et Episciences</blockquote>
            </li>
        </ol>
        <hr />
        <div id="flash-messages">
            <div class="bg-info">Créer un compte</div>
        </div>
        <span class="col-md-9 col-md-offset-3 ccsd_form_required">Champs requis</span>
        <!--
                {{ form_start(form, {'action': path('contributor_create_confirmation'), 'method': 'POST'}) }}
        -->
        {{ form_start(form, {'method': 'POST'}) }}
              {{ form_widget(form) }}
                <div class="form-group">
                    {{ form_row(form.civility) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.complementName) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.photo) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.login) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.pwd) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.isAdmin) }}
                </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
