<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Archives Ouvertes HAL</title>
    <link href="https://bootswatch.com/4/simplex/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class=" logo-ccsd nbrand" href="https://www.ccsd.cnrs.fr/" title="Centre pour la Communication Scientifique Directe">
        <img src="https://hal.archives-ouvertes.fr/img/ccsd.png" border="0" alt="CCSD" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">HAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Episciences.org</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sciencesconf.org</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
            </li>
        </ul>
        <form class="my-2 my-lg-0">
               <div class="text-white">{{ contributor.lastname }}{{ contributor.firstname }}</div>
            <div class="text-white"> <a class="" href="{{ path('home_page') }}">Se déconnecter</a></div>
        </form>
    </div>
</nav>
{%  for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Votre Profil</h1>
            <p class="lead text-muted">Il s'agit de votre espace personnel sur HAL</p>
            <p>
                <img src="{{ contributor.photo }}" alt="" class="img-rounded img-responsive" />
            </p>
            <p>
            <blockquote>{{ contributor.civility }} {{ contributor.lastname }} {{ contributor.firstname }}</blockquote>
            </p>
            <p>
                <i class="glyphicon glyphicon-envelope"></i> {{ contributor.email }} <br/>
                <a href="#" class="btn btn-primary my-2">Editer mon profil</a>
            </p>
        </div>
    </section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for document in contributor.documents %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://fakeimg.pl/350x200/ff0000/000" alt="Card image cap">
                        <div class="card-body"><small class="text-primary">{{ document.doi }}</small>
                            <p class="card-text">{{ document.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir plus de détails</button>
                                </div>
                                <small class="text-muted fa fa-check"></small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>